@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #0f172a;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f172a;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #0f172a;
}
